# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr

# Local environment files
*.local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Git
.git-credentials
.gitconfig
.gitignore_global
.gitkeep

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Email and private data
*@*.github.com
*@*.git
*.pem
*.p12
*.key
*.crt
*.cert

/Again-Upload/
/FUCK/

/year1/
